.body {
  background-image: url('https://i.pinimg.com/736x/e0/d9/18/e0d9185af930e79ae75f95830656a5d9.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.dashboard-container {
    display:grid;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
   
   
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #194b62;
    position: fixed;
    height: 100%;
    overflow: auto;
    opacity: 0.8754;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #3e768e;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .card {
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    color: rgb(221, 234, 234);
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #102c3d;
    box-shadow: 10px 10px 20px #BFBFBF, -10px -10px 20px #a7a7a7;
    opacity: 0.8754;
  }
  
  .box{
    display: flex;
    grid-template-columns: repeat(4, 3fr);
    gap: 50px;
    padding-left: 500px;
    margin-top: 40px;
    background-image: ('https://i.pinimg.com/736x/32/1a/1e/321a1e3f4827f0f81e11a7ebccb03ff8.jpg');
    
  }
  .card-value {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-label {
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .card-icon {
    font-size: 2rem;
    margin-top: 10px;
  }
  
  .card-button {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: white;
  }
  
  .card-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    padding-left: 1000px;
   margin-left: 500px;
    margin-top: 150px;
    justify-content: center;
    background-color: #415285;
    opacity: 0.8754;
    border-radius: 5px;
    color: #e4ecf4;

  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #1a1c34;}
  
  #customers tr:hover {background-color: #1c1c35;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #101324;
    color: rgb(211, 227, 240);
  }
  .nav{
    display: flex;
    flex-direction: row;
    
  }

 