/* src/StepNavigationBar.css */
.step-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 300px;

   /* background-image: url('https://i.pinimg.com/736x/32/1a/1e/321a1e3f4827f0f81e11a7ebccb03ff8.jpg');*/
  }
  
  .steps {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
    padding: 20px 20px;
   margin-top: 10px;
   width: 50px;
    
  }
  
  .step {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 90px;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    touch-action: double-tap-zoom;
    flex: 3;
    margin: 0 5px;
   
    
  }
  
  .step.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .navigation-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .logoset{
    display: flex;
    padding-right: 1500px;
    
    
  }
