/* src/StepNavigationBar.css */
.step-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    justify-content: center;
    text-align: center;

    background-image: url('https://i.pinimg.com/736x/d8/bb/b4/d8bbb4c7aa1829708c5aba4ef4197b4f.jpg');
  }
  
  .steps {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    padding: 14px 16px;
   background-color: aliceblue;
    
  }
  
  .step {
    margin-top: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 0 5px;
    
  }
  
  .step.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .navigation-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .logoset{
    display: flex;
    padding-right: 1500px;
    
    
  }
