.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  margin-top: 0%;
  height: 100vh;
  
}

legend {
  display: block;
  unicode-bidi: isolate;
  padding-inline: 2px;
  font-size: larger;
}
.title{

  font-size: 150px;

}

.snav{
  background-image: url('https://i.pinimg.com/736x/a3/78/4c/a3784c8246f2418fa8abd6258d875af4.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /*width: 100%;
  height: 100%;*/
}
.mycard {
  background-color: white;
  padding-top: 20px;
  margin-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 750px;
  top:0%;
  opacity: 0.8754;
  display:grid;
  

}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.layout {
  display: flex;
 gap: 90px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
  padding-left: 50;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 16px;

}

.h1{
  size: 50px;
}

.slot {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: 1;
  
}

.available {
  background-color: #22c55e;
  border-radius: 10px;
  /*box-shadow: 10px 10px 20px #adecbf, -10px -10px 10px #8dda9d;*/
}

.not-available {
  background-color: #ef4444;
  /*box-shadow: 10px 10px 10px #f79797, -10px -10px 20px #e38c8c;*/
}

.status {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30px;
  text-align: center;
}

.status-item {
  width: 96px;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  color: white;
}

.communication {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 16px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #BFBFBF, -10px -10px 20px #a7a7a7;
}

.des{
  margin-top: 40px;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 140px;
  padding-right: 10px;
  box-shadow: 10px 10px 20px #BFBFBF, -10px -10px 20px #a7a7a7;
}

.button{
  margin-top: 20;
  padding-left: 600px;
  display: flex;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #BFBFBF, -10px -10px 20px #a7a7a7;
}
.time{
  margin-top: 20px;
  gap: 25px;
}

.lot{
  margin-top: 5px;
  display: flex;
  width: 120px;
  height: 80px;
}

.pslot{
  width: 650px;
  height: 260px;
  justify-content: center;
  padding-left: 35px;
  padding-right: 60px;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #BFBFBF, -10px -10px 20px #a7a7a7;
  opacity: 1;
}
.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.btn {
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}

.connect {
  background-color: #234b8b;
  border-radius: 5px;
  
}

.clear {
  background-color: #6e7073;
  border-radius: 5px;
  
}

.exit {
  background-color: #c73f3f;
  border-radius: 5px;
 
}

  /*body {
    background-image: url('https://i.pinimg.com/736x/a5/ae/07/a5ae0715e31d1f7189d4aa453e1f141e.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 60%;;
   
  }*/
   
  /* src/styles/Navbar.css */
nav {
  padding: 500px;
  font-size: 80px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

/*.body {
  background-image: url('https://i.pinimg.com/736x/32/1a/1e/321a1e3f4827f0f81e11a7ebccb03ff8.jpg');
  height: 100%;
  width: 100%;
  
}*/

fieldset {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
  font-size:16px;
}



/*comm {

  margin-top: 300px;

}*/